@page
@model DotnetCity.CSharpExtensionMethods.Pages.StringExtensionSampleModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StringExtensionSample</title>
</head>
<body>
</body>
</html>
