@page
@model DotnetCity.CSharpExtensionMethods.Pages.UserExtensionSampleModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserExtensionSample</title>
</head>
<body>
</body>
</html>
